.openButton {
    display: flex;
    justify-content: space-between; /* Espace entre les deux éléments */
    align-items: center; /* Aligne verticalement les éléments au centre */
    border: 5px;
  }
  
  .button-text {
    flex: 1; /* Prend l'espace restant, assurant que le texte soit centré */
    text-align: center; /* Centre le texte */
  }
  
  .button-icon {
    margin-left: 10px; /* Ajoute un petit espace entre le texte et l'icône */
  }
   