
p{
    color: white;
}

.card {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 30%;
}

.card-img{
    height: 50%;
    width: auto;
    display: flex;
    justify-content: center;
}

.card-text, .card-name{
    color: black;
}

.card-format, .card-rarity {
    display: inline-block;
    color: white;
    padding: 4px;
    margin-left: 5px;
    border-radius: 5px;
}

.rarity-line {
    display: flex;
    flex-direction: row;
}
.rarity {
    margin-top: 4px;
}

.color {
    margin-top: 20px;
}

.mappingColor {
    display: flex;
    flex-direction: row;
}

.color-img-select {
    height: 40px;
    width: auto;
    margin-top: 5px;
}

.likeButton-container {
    display: flex;
    justify-content: center;

}

.button-navig {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

button:hover {
    outline: none;
    background-color: #5D3B8C;
     color : white;
}