

.card {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 30%;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #000000; 
}

.card:hover, .directionButton:hover, .likeButton:hover {
    transform: translateY(-5px); /* Légère élévation */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée */
  }

.card-img {
    height: 50%;
    width: auto;
    display: flex; 
    justify-content: center;
}
 
.card-text, .card-name{
    color: black;
}

.card-format, .card-rarity {
    display: inline-block;
    color: white;
    padding: 4px;
    margin-left: 5px;
    border-radius: 5px;
}

.rarity-line {
    display: flex;
    flex-direction: row;
}
.rarity {
    margin-top: 4px;
}

.color {
    margin-top: 20px;
}

.mappingColor {
    display: flex;
    flex-direction: row;
}

.color-img-select {
    height: 40px;
    width: auto;
    margin-top: 5px;
}

.likeButton-container {
    display: flex;
    justify-content: center;

}

.button-navig {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

button:hover {
    outline: none;
    background-color: #5D3B8C;
     color : white;
}