.deck-background {
    opacity: 0.3;
    width: 100%;
    position: absolute;
    margin-top: -5%;
}


.card {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 25%;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #000000;
}

.deck-content {
    display: flex;
    flex-direction: row;
}

.deck-name {
    background-color: #5D3B8C;
    color: white;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

/* Ajouter des marges pour l'image dans la carte */
.deck-img {
    position: relative;
    margin: 20px;
    max-width: 40%;

}

/* Style du numéro de la carte */
.numberCard {
    color: white;
    background-color: grey;
    border-radius: 50%;
    padding: 1%;
    position: absolute;
    margin-top: 15%; 
    margin-left: 12%;
}

/* Styles du texte et du nom de la carte */
.card-text, .card-name {
    color: black;
}

.line {
    border-bottom: 1px solid black;
    padding: 1%;
}

/* Styles des formats et de la rareté */
.card-format, .card-rarity {
    display: inline-block;
    color: white;
    padding: 4px;
    margin-left: 5px;
    border-radius: 5px;
}

/* Ligne de rareté */
.rarity-line {
    display: flex;
    flex-direction: row;
}

.rarity {
    margin-top: 4px;
}

/* Style de la section des couleurs */
.color {
    margin-top: 20px;
}

.mappingColor {
    display: flex;
    flex-direction: row;
}

.color-img-select {
    height: 40px;
    width: auto;
    margin-top: 5px;
}

/* Style du conteneur du bouton "like" */
.likeButton-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 14%;
}

/* Style pour les boutons de navigation */
.button-navig {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: -15%;
    padding: 5px;
}

/* Style des boutons lors du survol */
button:hover {
    outline: none;
    background-color: #5D3B8C;
    color: white;
}
