


/* Top Cards */

.title-cards {
    color : white;
    background-color:  #5D3B8C;
    margin-top: 5%;
    width: 30%;
    border-radius: 20px;
    padding: 0.5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.card-img {
    width: 100%;   /* L'image prend 100% de la largeur de son conteneur */
    height: auto;  /* Maintient les proportions de l'image */
    max-width: 300px; /* Limite la taille de l'image à 300px de large */
    object-fit: cover; /* Assure que l'image couvre l'espace sans être déformée */
    cursor: pointer; /* Change le curseur en main lorsqu'on passe dessus */
    border-radius: 10px; /* Arrondi les coins de l'image */
}

/* Styles pour les détails des cartes */
.card-details {
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement */
    justify-content: center;  /* Centre les éléments verticalement */
    align-items: center;  /* Centre les éléments horizontalement */
    padding: 15px;
    margin: 10px;
}

.card-likeNumber {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 5%;
}

.top-cards {
    display: flex;
    justify-content: center; /* Centre les cartes sur l'écran */
    flex-wrap: wrap; /* Permet aux cartes de se réorganiser si nécessaire */
    gap: 20px; /* Espacement entre les cartes */
}

/* Media query pour les écrans de 768px et moins (tablettes et mobiles) */
@media (max-width: 768px) {
    .top-cards {
        flex-direction: column; /* Aligne les cartes en colonne sur les petits écrans */
        align-items: center; /* Centre les cartes */
    }

    .card-img {
        max-width: 90%; /* Réduit la taille de l'image à 90% de son conteneur */
    }

    .card-details {
        padding: 10px; /* Réduit l'espace autour des cartes */
    }
}

/* Media query pour les écrans de 480px et moins (mobiles très petits) */
@media (max-width: 480px) {
    .card-img {
        max-width: 70%; /* Les images prennent toute la largeur sur les petits écrans */
    }

    .top-cards {
        gap: 15px; /* Réduit l'espacement entre les cartes */
    }
}
