/* Style de base pour la card */


@media (min-width: 768px) {

    .card-deck {
      margin-left: 35%;
      margin-top : 40px;
      width: 30%;
      height : 50%;
      border-radius: 10px;
      
    }


    .pipeline-container {
      display: flex; 
      flex-direction: row;
      margin-top: 40px;
    }

    .pipeline-container .pipeline {
      margin-top: 40px;
    }

    .color-container {
      display: flex;
      flex-direction: column;
      margin-top: 10%;
    }
    .name-container {
      align-items: start;
      margin-top: 10%;
      margin-left: 20%;

    }

    .buttons-container {
      display: flex;
      flex-direction: row;
      justify-content: center;

    }
 
}

@media (max-width: 480px) {
  
  .card-deck {
    margin-left: 5%;
    margin-top: 15%;
    width: 90%;
  }

    .color-line, .name-line {
        display: flex;
        flex-direction: column;
    }

    .pipeline-container {
      display: flex; 
      flex-direction: row;
      margin-top: 40px;
      
    }

}

.new-deck {
  border-radius: 10px; 
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #000000;      
  
}

  
  /* Effet de survol */
  .new-deck:hover {
    transform: translateY(-5px); /* Légère élévation */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée */
  }

  .img-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  /* Style de l'image */
  .card-pp { 
    width: 50%;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; /* Pour que l'image couvre bien l'espace */
    border: 5px solid #000000;
  }
  
  /* Style du contenu */
  .card-body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    
  }
  
  /* Style du titre */
  .card-name {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  /* Style des lignes (name-line, format-line, color-line) */
  .name-line,
  .format-line,
  .color-line {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacement entre les éléments */
    margin-bottom: 10px;    
  }

  .name-line{
    border-bottom: 1px solid black;
  }

  .color-line {
    border-bottom: 1px solid black;
    padding-bottom: 15px;
  }

  
  /* Style des sous-titres (format, color) */
  .format,
  .color {
    font-size: 1rem;
    color: #667;
    margin: 0;
  }
  
  /* Style du format (cercle coloré) */
  .card-format {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    color: #fff;
    background-color: green; /* Couleur dynamique */
  }
  
  /* Style des icônes de couleur */
  .mappingColor {
    display: flex;
    gap: 5px; /* Espacement entre les icônes */
  }
  
  .color-img-select {
    width: 24px;
    height: 24px;
    border-radius: 50%; /* Icônes rondes */
    object-fit: cover;
  }
  
  /* Style du bouton de création */
  .create-deck {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  /* Effet de survol sur le bouton */
  .create-deck-button:hover {
    background-color: #0056b3;
  }